html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #323d43;
  color: #e0e0e0;
}

body {
  display: block;
  font-family: "JetBrainsMono Nerd Font Mono", serif;
  font-size: 1em;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  margin: auto;
  padding: 1em 2em;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

#canonize {
  color: #e39b7b;
  position: fixed;
  bottom: 1rem;
}

#logo {
  transition: all 0.2s;
  margin: 0 0 0.75rem;
  border: 2px solid rgba(0, 0, 0, 2%);
  /* outline: 1px solid rgba(255, 255, 255, 4%); */
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 4%); /* safari support */
  padding: 0;
  border-radius: 100%;
  background: rgba(0, 0, 0, 10%);
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#logo > img {
  position: relative;
  bottom: -8px;
  height: 90px;
  width: 90px;
  /* scale: 0.9; */
  transform: scale(0.9);
}

#logo:hover {
  /* transform: scale(0.98) translateY(2px); */
  /* background: rgba(0, 0, 0, 10%); */
  cursor: pointer;
  /* opacity: 0.9; */
  border: 2px solid rgba(0, 0, 0, 10%);
  /* outline: 1px solid rgba(255, 255, 255, 6%); */
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 6%); /* safari support */
}

h1 {
  font-size: 1rem;
  margin: 0 0 0.15rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 90%);
}

/* --- (IP) ------------------------------------------------------------------*/
#ip {
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #777777;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 25%);
}

strong.confirmation {
  color: green;
  display: block;
  margin-left: 0.25rem;
  text-shadow: none;
}

/* --- (WEATHER) -------------------------------------------------------------*/
#weather {
  font-size: 0.85rem;
  opacity: 0.75;
  margin: 0.5rem 0 0;
  position: fixed;
  bottom: 3rem;
}
#weather img,
img.show {
  display: block;
}
#weather img.hide {
  display: none;
}
#weather strong {
  color: #999999;
}

/* --- (LOGO ANIMATION) ------------------------------------------------------*/
/* REF: https://github.com/IanLunn/Hover */
@-webkit-keyframes logo-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes logo-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes logo-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes logo-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.logo-bob {
  transition: all 0.2s;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.logo-bob:hover,
.logo-bob:focus,
.logo-bob:active {
  -webkit-animation-name: logo-bob-float, logo-bob;
  animation-name: logo-bob-float, logo-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* @media (prefers-color-scheme: dark) { */
/*   html, */
/*   body { */
/* background-color: #35363a; */
/*     background-color: #323d43; */
/*     color: #e0e0e0; */
/*   } */

/*   h1 { */
/*     text-shadow: 1px 1px 2px rgba(0, 0, 0, 90%); */
/*   } */

/*   #ip { */
/*     color: #777777; */
/*     text-shadow: 1px 1px 1px rgba(0, 0, 0, 25%); */
/*   } */
/* } */
/* @media (prefers-color-scheme: light) { */
/*   html, */
/*   body { */
/*     background-color: #ffffff; */
/*     color: #35363a; */
/*   } */

/*   h1 { */
/*     text-shadow: 1px 1px 2px rgba(0, 0, 0, 20%); */
/*   } */
/* } */
