[submodule "dotbot"]
	path = dotbot/core
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "dotbot-brewfile"]
	path = dotbot/brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "dotbot-asdf"]
	path = dotbot/asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
