# https://tekin.co.uk/2020/10/better-git-diff-output-for-ruby-python-elixir-and-more
*.c     diff=cpp
*.h     diff=cpp
*.c++   diff=cpp
*.h++   diff=cpp
*.cpp   diff=cpp
*.hpp   diff=cpp
*.cc    diff=cpp
*.hh    diff=cpp
*.m     diff=objc
*.mm    diff=objc
*.cs    diff=csharp
*.css   diff=css
*.html  diff=html
*.ex    diff=elixir
*.exs   diff=elixir
*.html.heex diff=phoenix_html
*.heex   diff=phoenix_html
*.go    diff=golang
*.php   diff=php
*.lua   diff=lua
*.pl    diff=perl
*.py    diff=python
*.md    diff=markdown
*.rb    diff=ruby
*.rake  diff=ruby
*.rs    diff=rust
*.lisp  diff=lisp
*.el    diff=lisp
*.gpg   binary

.gitattributes !filter !diff !merge
config/weechat/bitlbee.irc.conf filter=crypt diff=crypt merge=crypt
config/weechat/weechat.conf filter=crypt diff=crypt merge=crypt
config/weechat/irc.conf filter=crypt diff=crypt merge=crypt
config/weechat/plugins.conf filter=crypt diff=crypt merge=crypt
config/weechat/sec.conf filter=crypt diff=crypt merge=crypt
misc/fonts/**/*.*tf filter=crypt diff=crypt merge=crypt
config/zsh/lib/local.zsh filter=crypt diff=crypt merge=crypt
bin/slck filter=crypt diff=crypt merge=crypt
config/ngrok/ngrok.yml filter=crypt diff=crypt merge=crypt
config/newtab/etc_apache2_httpd.conf filter=crypt diff=crypt merge=crypt
misc/megalithic_dev.conf filter=crypt diff=crypt merge=crypt
home/ssh/config filter=crypt diff=crypt merge=crypt
home/s3cfg filter=crypt diff=crypt merge=crypt
bin/capper filter=crypt diff=crypt merge=crypt
