/private
.DS_Store
**/*.DS_Store
**/.DS_Store
teamocil/teamocil
npm-debug.log
**/.swp
**/noter.rb
**/.cask
**/nvim/plugged
**/nvim/autoload
**/nvim/.init.*
nvim/plugged
nvim/autoload
nvim/.init.*
nvim/undo/*
nvim/autoload/*
nvim/.init.vim-rplugin*
nvim/deoplete.log
nvim/autoload/plug.vim
nvim/.netrwhist
nvim/bundle
nvim/backups
config/config.symlink/configstore
~/.config/nvim/autoload
~/.config/nvim/plugged
~/.config/nvim/.init.*
**/plugged
**/autoload
**/.init.vim*
/Brewfile
**/elm-stuff
**/elm-package.json
asyncomplete.log
vim-lsp.log
.cache
repos
tags
