/private
.DS_Store
**/*.DS_Store
**/.DS_Store
teamocil/teamocil
npm-debug.log
**/.swp
**/noter.rb
**/.cask
**/nvim/plugged
**/nvim/.init.*
nvim/plugged
nvim/plugins
nvim/.init.*
nvim/undo/*
nvim/.init.vim-rplugin*
nvim/deoplete.log
nvim/autoload/plug.vim
nvim/autoload/plug.vim.old
nvim/.netrwhist
nvim/bundle
nvim/backups
nvim/init.vim.*
**/plugged
weechat/**/sec.conf
**/.init.vim*
**/elm-stuff
**/elm-package.json
asyncomplete.log
vim-lsp.log
.cache
repos
tags
tags.lock
tags.temp
**/__pycache__
.elixir_ls
nvim/nvim-python.log_*
nvim/*.log
**/logs
**/*.log
*.log
weechat/**/plugins.xml.gz
nvim/nvim-*.log*
keyboard/karabiner/automatic_backups/*
*netrw*
NetrwTreeListing*
Session.vim
.netrwhist
**/*.profraw
**/packer_compiled.vim
Brewfile.lock.json
**/.zcompdump
**/.zcompcache
