[submodule "dotbot/core"]
	path = dotbot/core
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "dotbot/brewfile"]
	path = dotbot/brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "dotbot/asdf"]
	path = dotbot/asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "dotbot/ifarch"]
	path = dotbot/ifarch
	url = https://github.com/ryansch/dotbot-ifarch.git
[submodule "dotbot/ifplatform"]
	path = dotbot/ifplatform
	url = https://github.com/megalithic/dotbot-ifplatform.git
[submodule "dotbot/gh-extension"]
	path = dotbot/gh-extension
	url = https://github.com/fundor333/dotbot-gh-extension.git
[submodule "config/zsh/plugins/fzf-tab"]
	path = config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "config/zsh/plugins/zsh-history-substring-search"]
	path = config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "config/zsh/plugins/fast-syntax-highlighting"]
	path = config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-zmirror/fast-syntax-highlighting
[submodule "config/zsh/plugins/zsh-autosuggestions"]
	path = config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "config/zsh/plugins/zsh-completions"]
	path = config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "config/zsh/plugins/alias-tips"]
	path = config/zsh/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "config/zsh/plugins/zsh-auto-notify"]
	path = config/zsh/plugins/zsh-auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify
[submodule "config/zsh/plugins/zsh-autopair"]
	path = config/zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "config/zsh/plugins/zsh-autocomplete"]
	path = config/zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "config/zsh/plugins/zsh-defer"]
	path = config/zsh/plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer
[submodule "/Users/seth/.dotfiles/config/zsh/plugins/zsh-async"]
	path = /Users/seth/.dotfiles/config/zsh/plugins/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "/Users/seth/.dotfiles/config/zsh/plugins/zsh-sweep"]
	path = /Users/seth/.dotfiles/config/zsh/plugins/zsh-sweep
	url = https://github.com/psprint/zsh-sweep.git
