<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Neovim</string>
    <key>description</key>
    <string>Edit emails in Neovim via Ghostty (Nix-compatible)</string>
    <key>maintainer</key>
    <string>Seth Messer</string>
    <key>contactEmailAddress</key>
    <string>seth@megalithic.io</string>
    <key>version</key>
    <string>1.0.0</string>
</dict>
</plist>
