# ░█▀▀░█░░░█▀█░█▀▄░█▀█░█░░░░░▀▀█░█░█░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀
# ░█░█░█░░░█░█░█▀▄░█▀█░█░░░░░▄▀░░█▀▄░░░█░░░█░█░█░█░█▀▀░░█░░█░█
# ░▀▀▀░▀▀▀░▀▀▀░▀▀░░▀░▀░▀▀▀░░░▀▀▀░▀░▀░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀
# Configuration shared across all zk notebooks

# REF:
# neat ideas for journalling: https://github.com/skbolton/titan/tree/main/zk

# NOTE SETTINGS
[note]

# Language used when writing notes.
# This is used to generate slugs or with date formats.
language = "en"
# The default title used for new note, if no `--title` flag is provided.
default-title = "quick thought"
# Template used to generate a note's filename, without extension.
filename = "{{format-date now 'timestamp'}}"
# The file extension used for the notes.
extension = "md"
# Template used to generate a note's content.
# If not an absolute path, it is relative to .zk/templates/
template = "default.md"
# Configure random ID generation.
# The charset used for random IDs.
id-charset = "alphanum"
# Length of the generated IDs.
id-length = 8
# Letter case for the random IDs.
id-case = "lower"


# EXTRA VARIABLES
[extra]
author = "Seth Messer"

## -- journal
[group.journal]
paths = [ "journal/daily", "journal/weekly" ]
[group.journal.daily.note]
filename = "{{format-date now}}"
template = "daily.md"
[group.journal.weekly.note]
filename = "{{format-date now}}"
template = "weekly.md"

## -- meetings
[group.meetings]
# Directories listed here will automatically use this group when creating notes.
paths = ["meetings"]
[group.meetings.note]
# %Y-%m-%d is actually the default format, so you could use {{date now}} instead.
filename = "{{title}}"
extension = "md"
template = "meeting.md"

## -- random
# [group.zettel]
# paths = ["zettel"]
# [group.zettel.note]
# # %Y-%m-%d is actually the default format, so you could use {{date now}} instead.
# filename = "{{date now 'timestamp'}}"
# extension = "md"
# template = "zettel.md"

## -- wiki
[group.wiki]
paths = ["wiki"]
[group.wiki.note]
# %Y-%m-%d is actually the default format, so you could use {{date now}} instead.
filename = "{{title}}"
# filename = "{{title}}-{{date now 'timestamp'}}"
extension = "md"
template = "wiki.md"


# MARKDOWN SETTINGS
[format.markdown]
# Enable support for #hashtags
hashtags = true
# Enable support for :colon:separated:tags:
colon-tags = true
# Format used to generate links between notes.
# Either "wiki", "markdown" or a custom template. Default is "markdown".
# link-format = "wiki"
link-format = "[[{{path}}|{{title}}]]"
# Indicates whether a link's path will be percent-encoded.
link-encode-path = false
# Indicates whether a link's path file extension will be removed.
link-drop-extension = true


# EXTERNAL TOOLS
[tool]
editor = "nvim"
# Pager used to scroll through long output.
pager = "bat"
# Command used to preview a note during interactive fzf mode.
fzf-preview = "bat --color=always --style=header,grid --line-range :300 {-1}"
# fzf-binding = "ctrl-n:down" #--bind="enter:replace-query+print-query"
fzf-bind-new = "Ctrl-e"

[filters]
today = "--sort created- --created 'today'"
complete = "--tag complete"
active = "--tag active"
idea = "--tag idea"
project = "--tag Project"

# COMMAND ALIASES
[alias]
links = "zk list -t 'links'"
todos = "zk list -t 'todo'"
# Edit the last modified note.
edlast = "zk edit --limit 1 --sort modified- $@"
# Edit the notes selected interactively among the notes created the last two weeks.
recent = "zk edit --sort created- --created-after 'last two weeks' --interactive"
conf = '$EDITOR "$ZK_CONFIG_DIR/config.toml"'

# LSP INTEGRATION
[lsp]
[lsp.diagnostics]
# Report titles of wiki-links as hints.
wiki-title = "hint"
# Warn for dead links between notes.
dead-link = "error"

[lsp.completion]
note-label = "{{title-or-path}}"
note-filter-text = " {{title}} {{path}}"
note-detail = "{{filename-stem}}"
