{
  name = "Vertical: Thread+Corr";
  enabled = 0;
  rootViewer =
  {
    viewerType = "MmSplitView";
    orientation = "horizontal";
    children =
    (

      // Left most panel: Mailboxes
      {
        viewerType = "MmBoxView";
        orientation = "vertical";
        defaultSize = 200;
        minWidth = 100;
        autoresize = 0;
        toggleMenuTitle = "Mailboxes";
        toggleKeyEquivalent = "^~@d";

        dragRect = { width = 16.0; height = 16.0; location = "bottomRight"; };

        children =
        (
          {
            identifier = "mailboxesOutline";
            viewerType = "MmMailboxesOutlineView";
            stickyMessages = 1;
          },
          {
            viewerType = "MmMailboxesStatusBar";
          },
        );
      }, // End mailboxes

      // # Rightmost panel: contains main outline + thread/correspondance view
      {
        viewerType = "MmBoxView";
        orientation = "vertical";
        children =
        (
          {
            identifier = "pathControl";
            viewerType = "MmPathControlView";
            sources = ( { sourceIdentifier = "mailboxesOutline"; } );
          },

          { viewerType = "MmSeparatorView"; showWithViews = ( "pathControl" ); },

          // Main outline-panel + combined thread and correspondence panel
          {
            viewerType = "MmSplitView";
            orientation = "vertical";
            collapsibleSubview = 2; // Incomplete support -- no way to get it back (1 = first, 2 = last)
            children =
            (
              // # Main message outline
              {
                identifier = "mainOutline";
                viewerType = "MmMessagesOutlineView";
                columnSettings = "outlineColumns";
                sources = ( { sourceIdentifier = "pathControl"; } );
              },

              // ### Message View with header panel (directly below main message outline)
              {
                viewerType = "MmBoxView";
                orientation = "vertical";
                minHeight = 150;
                children =
                (
                  {
                    identifier = "headersView";
                    viewerType = "MmHeadersView";
                    sources = ( { sourceIdentifier = "correspondenceOutline"; } );
                    inject = ( "headersFormatting.plist" );
                  },
                  { viewerType = "MmSeparatorView"; showWithViews = ( "headersView" ); },
                  {
                    identifier = "tagsEditor";
                    viewerType = "MmTagsEditor";
                    sources = ( { sourceIdentifier = "correspondenceOutline"; } );
                  },
                  { viewerType = "MmSeparatorView"; showWithViews = ( "tagsEditor" ); },
                  {
                    identifier = "blockingView";
                    viewerType = "MmImageBlockingView";
                    sources = ( { sourceIdentifier = "correspondenceOutline"; } );
                    transformation = "$correspondenceOutline.filter(##blocked-count exists)";
                  },
                  { viewerType = "MmSeparatorView"; showWithViews = ( "blockingView" ); },
                  {
                    identifier = "dummyMessageView";
                    viewerType = "MmDummyMessageView";
                    sources = ( { sourceIdentifier = "correspondenceOutline"; } );
                    transformation = "$correspondenceOutline.filter(#dummy-message exists)";
                  },
                  { viewerType = "MmSeparatorView"; showWithViews = ( "dummyMessageView" ); },
                  {
                    identifier = "securityView";
                    viewerType = "MmSecurityView";
                    sources = ( { sourceIdentifier = "correspondenceOutline"; } );
                    transformation = "$correspondenceOutline.filter(##security-problem exists)";
                  },
                  { viewerType = "MmSeparatorView"; showWithViews = ( "securityView" ); },
                  {
                    identifier = "messageView";
                    viewerType = "MmWebView";
                    sources = ( { sourceIdentifier = "correspondenceOutline"; } );
                    minWidth = 250;
                  },
                );

                toggleMenuTitle = "Message View";
                toggleKeyEquivalent = "^~@h";
              }, // end of message view

              // ### Thread and Correspondance MmBoxViews
              {
                viewerType = "MmSplitView";
                orientation = "vertical";
                children =
                (

                  // ### Thread panel (Label + msgoutline must be contained by a MmBoxView)
                  {
                    viewerType = "MmBoxView";
                    children = 
                    (
                      {
                        viewerType = "MmLabelView";
                        label = "Thread (other messages part of the thread)";
                      },
                      { viewerType = "MmSeparatorView"; },
                      {
                        identifier = "threadOutline";
                        viewerType = "MmMessagesOutlineView";
                        minWidth = 100;
                        sources = ( { sourceIdentifier = "mainOutline"; } );
                        selectionSources = ( { sourceIdentifier = "mainOutline"; } );
                        transformation = "$ALL_MESSAGES.filter(#thread-id =[c] $mainOutline.#thread-id)";
                        defaultColumns = ( "relativeDate", "subject", "from", "mailbox" );
                        outlineColumn = "relativeDate";
                      }, // end message list
                    );
                  }, // End of Thread panel

                  // ### Correspondence panel (Label + msgoutline must be contained by a MmBoxView)
                  {
                    viewerType = "MmBoxView";
                    children = 
                    (
                      {
                        viewerType = "MmLabelView";
                        label = "Correspondence (sender and recipient(s) are participants)";
                      },
                      { viewerType = "MmSeparatorView"; },
                      {
                        identifier = "correspondenceOutline";
                        viewerType = "MmMessagesOutlineView";
                        minWidth = 100;

                        sources = ( { sourceIdentifier = "mainOutline"; } );
                        selectionSources = ( { sourceIdentifier = "threadOutline"; } );

                        // Correspondence participation is when both the sender 
                        // and the recipient of the message(s) selected in the 
                        // in main (top) message list are either the sender or
                        // a recipient. I.e. both can be recipients.
                        transformation = "$ALL_MESSAGES.filter( (#any-address.address = $mainOutline.to.address or #any-address.name = $mainOutline.to.name) and (#any-address.address = $mainOutline.from.address or #any-address.name = $mainOutline.from.name) )";

                        defaultColumns = ( "relativeDate", "subject", "from", "mailbox" );
                        outlineColumn = "relativeDate";
                      }, // end message list
                    );
                  }, // end of correspondance panel

                );
                toggleMenuTitle = "Thread & Correspondence View";
                toggleKeyEquivalent = "^~@c";
              }, // end of hideable view (panel with Thread & Corresponence view)
              
            );
          }, // end of midddle panel
        );
      },
    );
  };
}
