{
	name = "Threaded";
	rootViewer =
	{
		viewerType = "MmSplitView";
		orientation = "horizontal";
		children =
		(
			{
				viewerType = "MmBoxView";
				orientation = "vertical";
				defaultSize = 200;
				minWidth = 100;
				autoresize = 0;
				toggleMenuTitle = "Mailboxes";
				toggleKeyEquivalent = "^~@d";

				dragRect = { width = 16.0; height = 16.0; location = "bottomRight"; };

				children =
				(
					{
						identifier = "mailboxesOutline";
						viewerType = "MmMailboxesOutlineView";
						stickyMessages = 1;
					},
					{
						viewerType = "MmMailboxesStatusBar";
					},
				);
			},
			{
				viewerType = "MmSplitView";
				orientation = "vertical";
				collapsibleSubview = 2; // Incomplete support -- no way to get it back (1 = first, 2 = last)
				children =
				(
					{
						identifier = "pathOutlineBox";
						viewerType = "MmBoxView";
						orientation = "vertical";
						defaultSize = 250;
						autoresize = 0;
						children =
						(
							{
								identifier = "pathControl";
								viewerType = "MmPathControlView";
								sources = ( { sourceIdentifier = "mailboxesOutline"; } );
							},
							{	viewerType = "MmSeparatorView"; showWithViews = ( "pathControl" ); },
							{
								identifier = "mainOutline";
								viewerType = "MmMessagesOutlineView";
								// columnSettings = "outlineColumns";
								// Keeps selected messages in the view even if they no longer match the main query
								// sources = ( { sourceIdentifier = "mainOutline"; }, { sourceIdentifier = "pathControl"; } );
								sources = ( { sourceIdentifier = "pathControl"; } );
								minHeight = 50;
							},
						);
					},
					{
						viewerType = "MmSplitView";
						orientation = "horizontal";
						children =
						(
							{
								viewerType = "MmBoxView";
								orientation = "vertical";
								defaultSize = 200;
								autoresize = 0;
								children =
								(
									{
										viewerType = "MmLabelView";
										label = "Correspondence";
									},
									{	viewerType = "MmSeparatorView"; },
									{
										identifier = "correspondenceOutline";
										viewerType = "MmMessagesOutlineView";
										minWidth = 100;
										sources = ( { sourceIdentifier = "mainOutline"; } );
										selectionSources = ( { sourceIdentifier = "mainOutline"; } );
										// FIXME: The transformation does not work 'per' message, i.e., it tries to combine any 'from' with any 'to' in $mainOutline.
										// mailmate does not always honor thread-id found in references so we try
										// and make it pickup other threads by using the subject body to find 
										// the related threads. Has the advantage to also find forwarded mails 
										// or separate mails that have 'broken' off the thread.
										transformation = "$ALL_MESSAGES.filter(#thread-id = $mainOutline.#thread-id or subject.body = $mainOutline.subject.body)";
										// transformation = "$ALL_MESSAGES.filter((from.address = $mainOutline.from.address and #recipient.address = $mainOutline.#recipient.address) or (from.address = $mainOutline.#recipient.address and #recipient.address = $mainOutline.from.address))";
										defaultColumns = ( "subject", "relativeDate" );
										outlineColumn = "subject";
									},
								);

								toggleMenuTitle = "Correspondence View";
								toggleKeyEquivalent = "^~@c";
							},
							{
								// FIXME: Currently a copy of the messageView.plist which is not a robust solution.
								//  It's needed to change the sourceIdentifier. Maybe drop messageView.plist again?
								viewerType = "MmBoxView";
								orientation = "vertical";
								children =
								(
									{
										identifier = "tagsEditor";
										viewerType = "MmTagsEditor";
										sources = ( { sourceIdentifier = "correspondenceOutline"; } );
									},
									{	viewerType = "MmSeparatorView"; showWithViews = ( "tagsEditor" ); },
									{
										viewerType = "MmMultiMessageView";
										identifier = "messageView";
										minHeight = 150;
										minWidth = 250;
										sources = ( { sourceIdentifier = "correspondenceOutline"; } );
									},
								);
							}
						);

						toggleMenuTitle = "Message View";
						toggleKeyEquivalent = "^~@h";
					},
				);
			},
		);
	};
}
