<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/</key>
	<string>searchAllMessages:</string>
	<key>R</key>
	<string>replyAll:</string>
	<key>^/</key>
	<string>searchAllMessages:</string>
	<key>^b</key>
	<string>scrollPageUp:</string>
	<key>^f</key>
	<string>scrollPageDown:</string>
	<key>^j</key>
	<string>nextThread:</string>
	<key>^k</key>
	<string>previousThread:</string>
	<key>^r</key>
	<string>redo:</string>
	<key>^u</key>
	<string>undo:</string>
	<key>c</key>
	<string>newMessage:</string>
	<key>e</key>
	<string>archive:</string>
	<key>f</key>
	<string>forwardMessage:</string>
	<key>j</key>
	<string>nextMessage:</string>
	<key>k</key>
	<string>previousMessage:</string>
	<key>r</key>
	<string>reply:</string>
	<key>s</key>
	<string>toggleFlag:</string>
	<key>u</key>
	<string>undo:</string>
	<key>x</key>
	<string>deleteMessage:</string>
</dict>
</plist>
