{
	"c"	  = "newMessage:";
	"r"	  = "reply:";
  "R"   = "replyAll:";
	"f"	  = "forwardMessage:";
	"s"	  = "toggleFlag:";
	"x"	  = "deleteMessage:";
	"e"	  = "archive:";
	"/"	  = "searchAllMessages:";
	"^/"	= "searchAllMessages:";
	"^u"	= "undo:";
	"u"	  = "undo:";
	"^r"	= "redo:";
	"^f"	= "scrollPageDown:";
	"^b"	= "scrollPageUp:";
}
